<div class="row">
  <div class="large-12 columns">
    <h2>Character</h2>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <form name="myForm">
        <div class="row">
          <div class="large-6 columns">
            <div class="control-group" ng-class="{error: myForm.name.$invalid}">
              <label>Name</label>
              <input type="text" name="name" ng-model="character.name" required>
              <span ng-show="myForm.name.$error.required" class="help-inline">
                  Required</span>
            </div>
          </div>
          <div class="large-3 columns">
            <label>Level</label>
            <input type="text" name="level" ng-model="character.level">
          </div>
          <div class="large-3 columns">
            <label>Class</label>
            <input type="text" name="ac" ng-model="character.characerClass">
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <div class="characterAttribute">
              <label>AC</label>
              <input type="text" name="ac" ng-model="character.ac">
            </div>
          </div>
          <div class="large-3 columns">
            <div class="characterAttribute">
              <label>HP</label>
              <input type="text" name="hp" ng-model="character.hp">
            </div>
          </div>
          <div class="large-6 columns">
            <div class="characterAttribute">
              <label>Occupation</label>
              <input type="text" name="occupation" ng-model="character.occupation">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <div class="attributes">
              <label>Str</label>
              <input type="text" name="strength" ng-model="character.strength">
              <label>Agi</label>
              <input type="text" name="agility" ng-model="character.agility">
              <label>Sta</label>
              <input type="text" name="stamina" ng-model="character.stamina">
              <label>Per</label>
              <input type="text" name="personality" ng-model="character.personality">
              <label>Int</label>
              <input type="text" name="intlligence" ng-model="character.intelligence">
              <label>Luck</label>
              <input type="text" name="luck" ng-model="character.luck">
            </div>
          </div>
          <div class="large-2 columns">
            <div class="modifers">
              <label>mod</label>
              <input type="text" name="strength_mod" value="{{ modifier(character.strength) }}" disabled>
              <label>mod</label>
              <input type="text" name="agility_mod" value="{{ modifier(character.agility) }}" disabled>
              <label>mod</label>
              <input type="text" name="stamina_mod" value="{{ modifier(character.stamina) }}" disabled>
              <label>mod</label>
              <input type="text" name="personality_mod" value="{{ modifier(character.personality) }}" disabled>
              <label>mod</label>
              <input type="text" name="intlligence_mod" value="{{ modifier(character.intelligence) }}" disabled>
              <label>mod</label>
              <input type="text" name="luck_mod" value="{{ modifier(character.luck) }}" disabled>
            </div>
          </div>
          <div class="large-2 columns">
            <label>Reflex:</label>
            <input type="text" name="reflex" ng-model="character.reflex">
            <label>Fort:</label>
            <input type="text" name="fort" ng-model="character.fort">
            <label>Will:</label>
            <input type="text" name="will" ng-model="character.will">
            <label>Init Mod</label>
            <input type="text" name="init_mod" ng-model="character.initMod">
            <label>Speed</label>
            <input type="text" name="speed" ng-model="character.speed">
            <label>Action Die</label>
            <input type="text" name="action_die" ng-model="character.actionDie">
            <label>Crit Die</label>
            <input type="text" name="crit_die" ng-model="character.critDie">
          </div>
          <div class="large-6 columns">
            <label>Description</label>
            <textarea name="description" ng-model="character.description"></textarea>
            <label>XP</label>
            <textarea name="experience" ng-model="character.experience"></textarea>
            <label>Lucky Roll</label>
            <textarea name="luck_roll" ng-model="character.luckyRoll"></textarea>
            <label>Equipment</label>
            <textarea name="equipment" ng-model="character.equipment"></textarea>
            <label>Languages</label>
            <textarea name="languages" ng-model="character.languages"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Equipped Armor</label>
            <textarea name="equipped_armor" ng-model="character.equippedArmor"></textarea>
            <label>Primary Weapon:</label>
            <textarea name="primary_weapon" ng-model="character.primaryWeapon"></textarea>
            <label>Secondary Weapon:</label>
            <textarea name="seondary_weapon" ng-model="character.secondaryWeapon"></textarea>

          </div>
        <div>
        <br>
        <a href="#/" class="button">Back</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="button butn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="character.$id" class="button alert">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>
