<div class="row">
  <div class="large-12 columns">
    <h2>Character</h2>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <form name="myForm">
        <div class="row">
          <div class="large-6 columns">
            <div class="control-group" ng-class="{error: myForm.name.$invalid}">
              <label>Name</label>
              <input type="text" name="name" ng-model="character.name" required>
              <span ng-show="myForm.name.$error.required" class="help-inline">
                  Required</span>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="characterAttribute">
              <label>Class</label>
              <input type="text" name="ac" ng-model="character.ac">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div class="characterAttribute">
              <label>AC</label>
              <input type="text" name="ac" ng-model="character.ac">
            </div>
          </div>
          <div class="large-6 columns">
            <div class="characterAttribute">
              <label>HP</label>
              <input type="text" name="hp" ng-model="character.hp">
            </div>
          </div>
        </div>
        <label>Description</label>
        <textarea name="description" ng-model="character.description"></textarea>

        <br>
        <a href="#/" class="button">Back</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="button butn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="character.$id" class="button alert">Delete</button>
      </form>
    </div>
  </div>
</div>
