<div class="row">
  <div class="large-12 columns">
    <h1> DCC Initiative Tracker </h1>
  </div>
</div>
<div class="row">
  <div class="large-3 small-3 columns character_section">
    <div class="row">
      <div class="large-12 small-12 columns">
        <h3> Characters </h3>
      </div>
    </div>
    <div class="panel">
      <div class="row">
        <div class="large-4 small-4 columns">
          <a href="#/new" class="small success button">New</a>
        </div>
        <div class="large-8 small-8 columns">
          <input type="text" ng-model="search" class="search-query" placeholder="Search">
        </div>
      </div>
      <div class="row">
        <div class="large-12 small-12 columns">
          <table>
            <thead>
              <tr>
                <th>Character</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="character in characters | filter:search | orderBy:'name'">
                <td> <a href="#/edit/{{character.$id}}">{{character.name}}</a></td>
                <td>
                  <a href="#" ng-click="addToInitiative(character)">Add</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="large-9 columns initiative_section">
    <h3>Initiative</h3>
    <div ng-repeat="character in initiative | orderBy:'initScore':true">
      <div class"row">
        <div class="panel">
          <div class="large-2 small-2 columns">
            <input type=number ng-model="character.initScore" class="initscore"/>
          </div>
          <div class="large-9 small-9 columns">
            <a href="#/edit/{{character.$id}}">{{character.name}}</a>
            <span class="init_attr">
              HP: {{character.hp}}
            </span>
            <span class="init_attr">
              AC: {{character.ac}}
            </span>
            <span class="init_attr">
              Fort: {{character.fort}}
            </span>
            <span class="init_attr">
              Reflex: {{character.reflex}}
            </span>
            <span class="init_attr">
              Will: {{character.will}}
            </span>
            <span class="init_attr">
              Luck: {{character.luck}}
            </span>
          </div>
          <div class="large-1 small-1 columns">
            <span class="close_init">
              <a href="#" ng-click="removeFromInitiative(character)">X</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
