<div class="row">
  <div class="large-12 columns">
    <h1> DCC Initiative Tracker </h1>
  </div>
</div>
<div class="row">
  <div class="large-4 columns character_section">
    <h3> Characters </h3>
    <div class="panel">
      <div class="row">
        <div class="large-3 columns">
          <a href="#/new" class="small success button">New</a>
        </div>
        <div class="large-9 columns">
          <input type="text" ng-model="search" class="search-query" placeholder="Search">
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>Character</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="character in characters | filter:search | orderBy:'name'">
          <td> <a href="#/edit/{{character.$id}}">{{character.name}}</a></td>
          <td>{{character.description}}</td>
          <td>
            <a href="#" ng-click="addToInitiative(character)">Add</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="large-8 columns initiative_section">
    <h3>Initiative</h3>
      <div ng-repeat="character in initiative | orderBy:'initScore':true">
        <div class="panel">
          <div class"row">
            <div class="large-2 columns">
              <input type=number ng-model="character.initScore" class="initscore"/>
            </div>
            <div class="large-10 columns">
              <a href="#/edit/{{character.$id}}">{{character.name}}</a>
              <span class="init_attr">
                HP: {{character.hp}}
              </span>
              <span class="init_attr">
                AC: {{character.ac}}
              </span>
              <span class="init_attr">
                Fort: {{character.fort}}
              </span>
              <span class="init_attr">
                Reflex: {{character.reflex}}
              </span>
              <span class="init_attr">
                Will: {{character.will}}
              </span>
              <span class="init_attr">
                <a href="#" ng-click="removeFromInitiative(character)">X</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
